# Build directories
/build/
/cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/

# Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# Binaries
*.exe
*.dll
*.so
*.a

# Object files
*.o
*.obj

# Editor / OS
.vscode/
.idea/
.DS_Store

# Third-party module
third_party